:root {
  --color-main: #424242;
  --color-second: #00835d;
  --color-third: #484848;
  --color-nav: #292929;
  --color-white: white;
  --color-black: black;
  --background-main: white;
  --background-second: #245852;
}
